<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Сокращатель ссылок</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body class="text-dark">
        <div class="container">
        <h1>Сокращатель ссылок</h1>
        <hr>
        <form action="/shortlinker" method="POST">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label for="inputLink" class="col-form-label">Вввести ссылку:</label>
                </div>
                <div class="col-auto">
                    <input required placeholder="" type="text" class="form-control mb-1" name="real_link" id="real_link">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">Сократить ссылку</button>
                </div>
            </div>
        </form>
        </div>
    </body>
</html>